
/* тут подключаем файлы шрифтов из папки fonts */
@font-face {
  font-family: "OpenSans";
  src: url(/fonts/OpenSans-Regular.eot) format("embedded-opentype"),
    url(/fonts/OpenSans-Regular.ttf) format("truetype"),
    url(/fonts/OpenSans-Regular.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans Bold";
  src: url(/fonts/OpenSans-Bold.eot) format("embedded-opentype"),
    url(/fonts/OpenSans-Bold.ttf) format("truetype"),
    url(/fonts/OpenSans-Bold.woff) format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Gotham Pro Bold";
  src: url(/fonts/GothamPro-Bold.eot) format("embedded-opentype"),
    url(/fonts/GothamPro-Bold.ttf) format("truetype"),
    url(/fonts/GothamPro-Bold.woff) format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Coustard Regular";
  src: url(/fonts/Coustard-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* тут обнуляем дефолные стили (стили по умолчанию) */
* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

/* задаем параметры ширины контента, ввиду Mobile First */
.container {
  min-width: 320px;
  margin: 0 auto;
  /* убрала границу контейнера, она нам больше не понадобится */
}

/* СТИЛИ ДЛЯ MOBILE */

/* стили хэдэра */
.header_nav {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.logo {
  text-transform: capitalize;
  color:rgb(0, 0, 0);
  /* изменила размер верхнего внутреннего отступа */
  padding-top: 30px;

  padding-bottom: 24px;
  font-family: "OpenSans";
  font-size: 16px;
  position: relative;
}

.logo::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: yellow;
  background-image: url(../img/icon_sofa.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  top: 20px;
  left: -56px;
}

.logo span {
  text-transform: uppercase;
  font-family: "OpenSans Bold";
}

.nav_list {
  padding-bottom: 28px;
}

.nav_list-item {
  position: relative;
}

.nav_list-item a:hover,
.nav_list-item a:focus {
  color:yellow;
  font-size: large;
}

.nav_list-item:last-child::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url(../img/icon_viber.png);
  background-repeat: no-repeat;
  background-position: center;
  left: -24px;
}

.nav_list-item a {
  color: black;
  font-family: "OpenSans Bold";
  font-size: 16px;
}

/* стили секции 1 */
.s1 {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  color: white;
  /* задаем фон с указанием цвета наложенияи пути к изображению */
  background: #535353 url(../img/s1_background.png);
  /* добавляем формат наложения цвета на изображение */
  background-blend-mode: soft-light;
  /* центрируем изображение */
  background-position: center;
  /* запрет на повторение изображения, 
    если размер секции больше размера изображения */
  /* background-repeat: no-repeat; */
  /* масштабирование фонового изображения под размер секции */
  background-size: cover;

  /* БОНУС */
  /* background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.746),
      rgba(90, 81, 0, 0.9)
    ),
    url(../images/s1_back_Ps.png); */
}

.s1_title {
  text-transform: capitalize;
  font-size: 36px;
  margin: 0 20px;
  font-family: "Gotham Pro Bold";
  padding-top: 74px;
  padding-bottom: 26px;
}

.s1_list {
  /* добавлено позиционирование списка */
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  min-width: 280px;

  /* изменены внутренние и внешние отступы */
  padding-left: 20px;
  padding-bottom: 70px;
  margin: 0 20px;

  font-family: "OpenSans";
  font-size: 14px;
  position: relative;
}

/* добавлен селектор нового элемента разметки 
для позиционирования псевдоэлементов */
.s1_bottom-element {
  display: block;
  margin: 0 auto;
  padding-bottom: 66px;
  position: relative;
}

/* псевдоэлементы, создающие стрелку внизу секции
теперь не относятся к списку, многие свойства 
псевдоэлементов изменены в связи с этим */
.s1_bottom-element::before,
.s1_bottom-element::after {
  content: "/";
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  color: rgb(198, 233, 158);
}

.s1_bottom-element::before {
  transform: rotate(-63deg);
  left: -16px;
}

.s1_bottom-element::after {
  transform: rotate(26deg);
}

.s1_list-item {
  padding-bottom: 16px;
  padding-left: 20px;
  position: relative;
}

.s1_list-item::before {
  content: "";
  position: absolute;

  /* изменены размеры */
  width: 16px;
  height: 16px;

  background-image: url(../img/icon_star.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 3px;
  left: -10px;
}

.s1_list-item span {
  color:yellow;
}

/* стили секции 2 */
.s2 {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.s2_title {
  display: block;
  text-align: center;
  padding-top: 67px;
  margin-bottom: 76px;

  /* заданы шрифт и его размер */
  font-size: 36px;
  font-family: "Gotham Pro Bold";
}

.s2_list {
  display: flex;

  /* изменено позиционирование 
  и добавлен нижний внутренний отступ */
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 66px;
}

.s2_list-item {
  width: 170px;
  height: 170px;
  border: 2px solid yellow;
  padding-top: 55px;
  position: relative;
  text-align: center;
  /* изменен правый внешний отсуп 
  на общий внешний и его размер */
  margin: 20px;
}

.s2_list-item:hover {
  border: 10px solid yellow;
  transform: scale(1.2);
}

.s2_list-item a:hover {
  color: rgba(9, 223, 134, 0.623);
}

/* добавлен селектор для псевлоэлемента при ховере,
чтобы иконка не смещалась сильно вправо */
.s2_list-item:hover::before {
  left: 32px;
}

.s2_list-item::before {
  content: "";
  position: absolute;
  width: 85px;
  height: 85px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: yellow;
  border-radius: 50%;
  top: -41px;
  left: 38px;
}

.s2_list-item:nth-child(1)::before {
  background-image: url(../img/s2_icon1.png);
}

.s2_list-item:nth-child(2)::before {
  background-image: url(../img/s2_icon2.png);
}

.s2_list-item:nth-child(3)::before {
  background-image: url(../img/s2_icon3.png);
}

.s2_list-item:nth-child(4)::before {
  background-image: url(../img/s2_icon4.png);
}

.s2_list-item a {
  font-size: 16px;
  font-weight: bold;
  font-family: "OpenSans";
  color: #201f1f;
  display: block;
  margin-bottom: 5px;
}

/* стили секции 3 */

.s3 {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: white;
  background: #535353 url(../images/16.jpeg);
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;
}

.ant-carousel {
  width: auto;
  position: relative;
}

.ant-carousel-hider {
  /* задано позиционирование элемента */
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin: 0 auto;
  width: 320px;
  position: relative;

  overflow: hidden;
}

.ant-carousel-list {
  display: flex;

  /* задано направление позиционирования */
  flex-flow: row;

  justify-content: flex-start;
  width: auto;
  /* нижний внутренний отступ удален за ненадобностью */
}

.ant-carousel-element {
  /* изменено позиционирование элемента и все отступы */
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 320px;
  padding: 90px 0;
  margin: 20px;

  /* flex: 0 0 auto; */
}

.ant-carousel-element img {
  width: 280px;
  height: 230px;
  position: sticky;

  border: 20px solid;
}

.ant-carousel-element img:hover {
  box-shadow: inset 0 0 0 20px white;
}

.ant-carousel-element p {
  color: white;
  font-size: 16px;
  font-family: "OpenSans";
  font-weight: bold;
  position: relative;
  /* изменен внешний верхний отступ */
  margin-top: 4px;
  /* добавлен внутренний левый отступ */
  padding-left: 48px;
}

.ant-carousel-element p::before {
  content: "";
  position: absolute;
  border: 1px solid rgb(198, 233, 158);

  /* изменены длина псевдоэлемента 
  и параметры позиционирования*/
  width: 38px;
  top: 10px;
  left: 0;
}

.ant-carousel-arrow-left,
.ant-carousel-arrow-right {
  /* изменена длина элемента */
  width: 24px;
  height: 40px;
  position: absolute;
  cursor: crosshair;
  /* добавлено свойство видимости */
  z-index: 90;
}

/* .ant-carousel-arrow-left:hover,
.ant-carousel-arrow-right:hover {
  opacity: 1;
} */

/* левая стрелка слайдера */
div.ant-carousel-arrow-left {
  /* изменено левостороннее позиционирование */
  left: -2px;

  top: 44%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
}

/* правая стрелка слайдера */
div.ant-carousel-arrow-right {
  /* изменено правостороннее позиционирование */
  right: -4px;

  top: 44%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
}

/* стили секции 4 */
.s4 {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.s4_desc {
  /* изменено позиционирование элемента */
  display: flex;
  flex-flow: column;

  margin: 0 20px;
  text-align: center;
  font-family: "Gotham Pro";
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  padding-top: 122px;
  position: relative;
}

.s4_desc::before {
  content: "❞";
  position: absolute;
  top: 48%;
  left: 38%;
  font-size: 118px;
  font-family: "Coustard Regular";
  color: rgb(198, 233, 158);
}

.s4_list {
  display: flex;
  flex-flow: column;
  margin: 0 20px;
  padding-left: 55px;
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 26px;
  color: #6c6e79;
  padding-top: 44px;
  padding-bottom: 66px;
  position: relative;
}

.s4_list::before {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid rgb(198, 233, 158);

  /* изменена высота псевдоэлемента */
  height: 170px;

  top: 50px;
  left: 28px;
}

/* добавлен селектор последнего элемента 
списка для его скрытия в мобильной версии */
.s4_list-item:last-child {
  display: none;
}

/* стили секции 5 - !!есть изменения!!*/
.s5 {
  display: flex;
  flex-flow: column;

  /* изменено центрирование */
  align-items: center;

  background: url(../img/);
  background-position: center;
}

.s5_list {
  display: flex;
  flex-flow: column;
  margin: 0 20px;
  padding-top: 72px;
}

.s5_list li {
  padding-left: 75px;
  padding-bottom: 30px;
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 24px;
  color: #201f1f;
  position: relative;
}

.list-noTitle li::before,
.list-special li::before,
.list-outside li::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url(../img/);
  background-position: center;
  background-repeat: no-repeat;
  left: 30px;
}

.s5_list-title {
  padding-left: 32px;
  margin: 0 20px;
  text-transform: uppercase;
  font-family: "OpenSans";
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  color: rgb(65, 41, 10);
  position: relative;
}

.s5_list-title::after {
  content: "";
  position: absolute;
  border: 1px solid rgb(198, 233, 158);
  width: 40px;
  top: 62px;
  left: 32px;
}

.contacts li {
  position: relative;

  /* добавлен левый внутренний отступ */
  padding-left: 35px;
}

.contacts li:last-child::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url(../img/icon_viber.png);
  background-repeat: no-repeat;
  background-position: center;

  /* изменено левое позиционирование */
  left: 33px;
  /* добавлено верхнеее позиционирование */
  top: 25px;
}

.contacts a:hover,
.contacts a:focus {
  color: red;
  font-size: large;
}

/* добавлен новый селектор */
.contacts li:last-child p {
  padding-left: 45px;
}

/* стили футера - изменений пока нет*/
footer {
  background-color: black;
  color: grey;
  font-family: "OpenSans";
  font-size: 12px;
  text-align: center;
  padding: 25px 0;
}

/* СТИЛИ ДЛЯ TABLET */
@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }

  /* стили хэдэра */
  .header_nav {
    flex-flow: row;
    justify-content: space-between;
    margin: 0 40px;
    padding: 34px 0;
  }

  .logo {
    padding: 0;
    padding-left: 55px;
  }

  .logo::before {
    top: -12px;
    left: 0;
  }

  .nav_list {
    display: flex;
    flex-flow: row;
    padding: 0;
  }

  .nav_list-item:first-child {
    padding-right: 54px;
    position: relative;
  }

  .nav_list-item:first-child::after {
    content: "";
    position: absolute;
    border: 1px solid #eaeaea;
    height: 28px;
    top: -4px;
    right: 37px;
  }

  /* стили секции 1 */

  .s1_title {
    font-size: 50px;
    font-weight: bold;
    margin: 0 40px;
    padding-top: 148px;
    padding-bottom: 30px;
  }

  .s1_list {
    font-size: 20px;
    font-weight: bold;
    padding-left: 26px;
    margin: 0 40px;
    padding-bottom: 153px;
  }

  .s1_list::before,
  .s1_list::after {
    font-size: 34px;
    top: 62%;
  }

  .s1_list::before {
    left: 69%;
  }

  .s1_list::after {
    left: 73%;
  }

  .s1_list-item {
    padding: 0;
  }

  .s1_list-item::before {
    top: 3px;
    left: -27px;
  }

  /* стили секции 2 */
  .s2_title {
    font-size: 38px;
    margin: 0 40px;
    padding: 74px 90px;
  }

  .s2_list {
    flex-flow: row;
    justify-content: space-between;
    margin: 0 40px;
    padding-bottom: 89px;
  }

  .s2_list-item {
    width: 157px;
    height: 165px;
    margin: 0;
    margin-right: 20px;
  }

  .s2_list-item:last-child {
    margin-right: 0;
  }

  .s2_list-item:hover::before {
    left: 28px;
  }

  /* стили секции 3 */

  .ant-carousel {
    position: relative;
  }

  .ant-carousel-hider {
    justify-content: center;
    width: 768px;
  }

  .ant-carousel-element {
    width: 334px;
  }

  .ant-carousel-element img {
    width: 334px;
    height: 240px;
  }

  .ant-carousel-element p {
    margin-top: 18px;
  }

  .ant-carousel-arrow-left,
  .ant-carousel-arrow-right {
    z-index: 100;
  }

  div.ant-carousel-arrow-left {
    left: -2px;
  }

  div.ant-carousel-arrow-right {
    right: -2px;
  }

  /* стили секции 4 */
  .s4_desc {
    margin: 0 40px;
    padding-left: 118px;
    font-size: 23px;
    padding-top: 80px;
  }

  .s4_desc::before {
    top: 89%;
    left: 8%;
  }

  .s4_list {
    font-size: 16px;
    margin-left: 306px;
    margin-right: 40px;
    padding-bottom: 80px;
  }

  .s4_list-item:last-child {
    display: block;
  }

  .s4_list::before {
    left: 0;
    height: 150px;
  }

  /* стили секции 5 - изменений пока нет*/
  .s5 {
    flex-flow: column wrap;
    padding: 76px 40px 0 129px;
    height: 550px;
  }

  .s5_list-title,
  .s5_list,
  .s5_list li {
    margin: 0;
    padding: 0;
    width: 246px;
  }

  .s5 div,
  .s5_list {
    padding-bottom: 20px;
  }

  .s5_list li {
    display: flex;
    flex-flow: row;
    padding-left: 40px;
    padding-bottom: 8px;
  }

  .list-noTitle li::before,
  .list-special li::before,
  .list-outside li::before {
    left: 0;
  }

  .s5_list-title {
    padding-bottom: 28px;
  }

  .s5_list-title::after {
    top: 70px;
    left: 0;
  }

  .contacts_list-title::after {
    top: 60%;
  }

  .contacts li {
    padding: 0 25px 0 0;
  }

  .contacts a {
    margin-right: 10px;
  }

  .contacts li:last-child p {
    padding-left: 10px;
  }

  .contacts li:last-child::before {
    left: 110px;
    top: 1px;
  }

  /* стили футера - изменений пока нет*/
  footer {
    font-size: 16px;
    font-weight: bold;
    padding: 22px 0;
  }
}

/* СТИЛИ ДЛЯ DESKTOP */
@media (min-width: 1280px) {
  .container {
    min-width: 1280px;
  }

  /* стили хэдэра */
  .header_nav {
    margin: 0 60px;
  }

  .logo {
    font-size: 24px;
  }

  .nav_list-item a {
    font-size: 20px;
  }

  .nav_list-item:last-child::before {
    left: -30px;
    top: 3px;
  }

  /* стили секции 1 */
  .s1 {
    background-color: rgb(58, 53, 53);
    background-position: right;
    background-repeat: no-repeat;
  }

  .s1_title {
    font-size: 72px;
    padding: 229px 0 24px 159px;
    margin: 0;
  }

  .s1_list {
    font-size: 24px;
    padding-left: 159px;
    padding-bottom: 98px;
    margin: 0;
  }

  .s1_list-item {
    padding-left: 29px;
    padding-bottom: 14px;
  }

  .s1_list-item::before {
    top: 10px;
    left: 0;
  }

  /* стили секции 2 */
  .s2_title {
    font-size: 44px;
    padding-top: 78px;
  }

  .s2_list {
    width: 768px;
    padding-top: 44px;
    padding-bottom: 90px;
  }

  .s2_list-item {
    width: 178px;
    height: 164px;
  }

  .s2_list-item::before {
    top: -40px;
    left: 46px;
  }

  .s2_list-item:hover::before {
    left: 36px;
  }

  /* стили секции 3 */

  .ant-carousel-hider {
    width: 1280px;
  }

  .ant-carousel-element {
    width: 570px;
    margin: 0 25px;
    padding: 85px 0;
  }

  .ant-carousel-element img {
    width: 570px;
    height: 344px;
  }

  div.ant-carousel-arrow-left {
    left: 20px;
  }

  div.ant-carousel-arrow-right {
    right: 20px;
  }

  /* стили секции 4 */
  .s4_desc {
    font-size: 34px;
    line-height: 40px;
    margin: 0 60px;
    padding-left: 250px;
    text-align: left;
  }

  .s4_desc::before {
    font-size: 236px;
    top: 102%;
    left: 10%;
  }
}