@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans-Regular.eot) format("embedded-opentype"),
        url(fonts/OpenSans-Regular.ttf) format("truetype"),
        url(fonts/OpenSans-Regular.woff) format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans-Regular.eot) format("embedded-opentype"),
      url(fonts/OpenSans-Regular.ttf) format("truetype"),
      url(fonts/OpenSans-Regular.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
    font-family: "OpenSans Bold";
    src: 
        url(fonts/OpenSans-Bold.ttf) format("truetype"),
        url(fonts/OpenSans-Bold.woff) format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Coustard Regular";
    src:
        url(/fonts/Coustard-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}
* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    width: 320px;
    margin: 0 auto;
    border: 1px solid black;
}

/* стили хэдэра */
.header_nav {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.logo {
    text-transform: capitalize;
    color: black;
    padding-top: 36px;
    padding-bottom: 24px;
    font-family: "OpenSans";
    font-size: 16px;
    position: relative;
}
.logo::before{
    content: "";
    position:absolute;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background-color: #ffe100;
    background-repeat: no-repeat;
    background-image: url(../img/icon_sofa.png);
    background-position: center;
    top: 20px;
    left: -56px;
}

.logo span {
    text-transform: uppercase;
    font-family: "OpenSans Bold";
}

.nav_list {
    padding-bottom: 28px;
}
.nav_list-item{
    position: relative;
}
.nav_list a:hover{
     color: teal;
}
.nav_list a:focus{
    color: red;
}
.nav_list-item:last-child::before{
    content: "";
    position:absolute;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-image: url(../img/icon_viber.png);
    background-position: center;
    top: -2px;
    left: -23px;
}

.nav_list-item a {
    color: black;
    font-family: "OpenSans Bold";
    font-size: 16px;
}
/* стили секции 1 */
.s1 {
  display: flex;
  flex-flow: column;
  align-items: start;
  color: white;
  /* задаем фон с указанием цвета наложенияи пути к изображению */
  background: #535353 url(../img/s1_background.png);
  /* добавляем формат наложения цвета на изображение */
  background-blend-mode: soft-light;
  /* центрируем изображение */
  background-position: center;
  /* запрет на повторение изображения, 
    если размер секции больше размера изображения */
  /* background-repeat: no-repeat; */
  /* масштабирование фонового изображения под размер секции */
  background-size: cover;

  /* БОНУС */
  /* background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.746),
      rgba(90, 81, 0, 0.9)
    ),
    url(../images/s1_back_Ps.png); */
}

.s1_title {
  text-transform: capitalize;
  font-size: 36px;
  margin: 0 20px;
  font-family: "Gotham Pro Bold";
  padding-top: 74px;
  padding-bottom: 26px;
}

.s1_list {
  font-family: "OpenSans";
  font-size: 14px;
  padding-left: 46px;
  margin-right: 20px;
  padding-bottom: 136px;
  position: relative;
}

.s1_list::before,
.s1_list::after {
  content: "/";
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  top: 62%;
  color: rgb(247, 223, 8);
}

.s1_list::before {
  transform: rotate(-65deg);
  left: 45%;
}

.s1_list::after {
  transform: rotate(25deg);
  left: 50%;
}

.s1_list-item {
  padding-bottom: 16px;
  position: relative;
  padding-left: 20px;
}

.s1_list-item::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url(../img/icon_star.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 3px;
  left: -10px;
}

.s1_list-item span {
  color: rgb(236, 214, 15);
}
/* стили секции 2 */
  .s2 {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  .s2_title {
    display: block;
    text-align: center;
    padding-top: 67px;
    margin-bottom: 76px;
  }
  
  .s2_list {
    display: flex;
    flex-flow: column;
  }
  
  .s2_list-item {
    width: 170px;
    height: 170px;
    border: 2px solid rgb(247, 223, 8);
    margin-bottom: 58px;
    padding: 50px;
    position: relative;
  }
  
  .s2_list-item::before {
    content: "";
    position: absolute;
    width: 85px;
    height: 85px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(247, 223, 8);
    border-radius: 50%;
    top: -41px;
    left: 38px;
  }
  
  .s2_list-item:nth-child(1)::before {
    background-image: url(../img/s2_icon1.png);
  }
  
  .s2_list-item:nth-child(2)::before {
    background-image: url(../img/s2_icon4.png);
  }
  
  .s2_list-item:nth-child(3)::before {
    background-image: url(../img/s2_icon3.png);
  }
  
  .s2_list-item:nth-child(4)::before {
    background-image: url(../img/s2_icon2.png);
  }
  
  .s2_list-item p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: "OpenSans";
    margin-bottom: 5px;
  }
  .s2_list-item:hover{
    background-color: rgb(247, 223, 8);
    color:orange;
    border: 10px solid orange;
    transform: scale(1.5);
  }
  /* стили секции 3 */
  
  .s3 {
    display: flex;
    flex-flow: row;
    align-items: center;
    color: white;
    background: #535353 url(../images/s3_back.png);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
  }
  
  .ant-carousel {
    width: auto;
    position: relative;
  }
  
  .ant-carousel-hider {
    overflow: hidden;
  }
  
  .ant-carousel-list {
    display: flex;
    justify-content: flex-start;
    width: auto;
    padding-bottom: 84px;
  }
  
  .ant-carousel-element {
    display: block;
    text-align: center;
    margin: 0 20px;
    margin-top: 72px;
    /* flex: 0 0 auto; */
  }
  
  .ant-carousel-element img {
    width: 280px;
    height: 230px;
    position: sticky;
    /* border: 15px solid white; */
  }
  
  .ant-carousel-element p {
    color: white;
    font-size: 16px;
    font-family: "OpenSans";
    font-weight: bold;
    position: relative;
    margin-top: 18px;
  }
  
  .ant-carousel-element p::before {
    content: "";
    position: absolute;
    width: 40px;
    border: 1px solid rgb(247, 223, 8);
    top: 8px;
    left: 1px;
  }
  
  .ant-carousel-arrow-left,
  .ant-carousel-arrow-right {
    width: 25px;
    height: 40px;
    position: absolute;
    cursor: crosshair;
  }
  
  /* .ant-carousel-arrow-left:hover,
  .ant-carousel-arrow-right:hover {
    opacity: 1;
  } */
  
  /* левая стрелка слайдера */
  div.ant-carousel-arrow-left {
    left: 5px;
    top: 44%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
  }
  
  /* правая стрелка слайдера */
  div.ant-carousel-arrow-right {
    right: 5px;
    top: 44%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
  }
  /*                        */
  .s4{
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .s4_decs{
    display: block;
    margin: 0 20px;
    text-align: center;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: bold;
    padding-top:122px;
    position: relative;
    line-height: 27px;
  }
  .s4_decs::before{
    content: "❞";
    position: absolute;
    width: 55px;
    height: 35px;
    font-size: 48px;
    font-family: "Coustard Regular";
    top: 48%;
    left: 43%;
    color: rgb(247, 223, 8)
  }
  .s4_list{
    display: flex;
    flex-flow: column;
    margin: 0 20px;
    font-family: "OpenSans";
    font-size: 14px;
    line-height: 26px;
    color:gray;
    padding-left: 55px;
    padding-top: 44px;
    padding-bottom: 66px;
    position: relative;
  }
  .s4_list::before{
    content:"";
    position: absolute;
    display: block;
    border: 1px solid rgb(247, 223, 8);
    height: 174px;
    top:50px;
    left:28px;
  }
  /*5*/
.s5{
  background-color: #303030;
}
.s5_list{
  display: flex;
  flex-flow: column;
  margin: 0 20px;
  padding-top: 72px ;
}
.s5_list li{
  padding-left:75px ;
  padding-bottom: 30px;
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 24px;
  color: #a4a4a4;
  position: relative;
}
.s5_list li::before{
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../img/s5_list.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 0px;
  left: 25px;
}
.contacts li{
    position: relative;
}
.contacts li:last-child::before{
  content: "";
  position:absolute;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_viber.png);
  background-position: center;
  top: 2px;
  left: 47px;
}
.s5_list-title{
  padding-left: 32px;
  margin: 0 20px;
  text-transform: uppercase;
  font-family: "OpenSans ";
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  color: white;
}
.s5_list-title a{
  color: #ffe100;
}
.s5_list-title a:hover{
  color:red;
}
.s5_list-title a:focus{
  color:greenyellow;
}


/* стили футер */
footer {
    background-color: black;
    color: grey;
    font-family: "OpenSans";
    font-size: 12px;
    text-align: center;
    padding: 25px 0;
}

/*      media          */

@media(min-width:768px){
  .container{
    min-width: 768px;
  }
  .header_nav {
    flex-flow: row;
    margin: 0 40px;
    justify-content: space-between;
    padding: 34px 0;
  }  

.logo {
    padding:0;
    padding-left: 55px;
}
.logo::before{
    top: -12px;
    left: 0;
}

.nav_list {
    padding: 0;
    display: flex;
    flex-flow: row;
}
.nav_list-item:first-child{
  position: relative;
  padding-right: 54px;
}
.nav_list-item:first-child::after{
  content: "";
  position: absolute;
  border: 1px solid #eaeaea;
  height: 28px;
  top: -4px;
  right: 37px;
}
/*        s1 */
.s1_title {
  font-size: 50px;
  margin: 0 40px;
  padding-top: 145px;
  padding-bottom: 18px;
}

.s1_list {
  font-size: 20px;
  padding-left: 26px;
  margin: 0 40px;
  padding-bottom: 153px;
  font-weight: bold;
}

.s1_list::before,
.s1_list::after {
  font-size: 34px;
  top: 62%;
}

.s1_list::before {
  left: 69%;
}

.s1_list::after {
  left: 73%;
}

.s1_list-item {
  padding:0px;
}

.s1_list-item::before {

  top: 3px;
  left: -27px;
}
/*                           s2               */

.s2_title {
  font-size: 38px;
  padding: 74px 90px ;
  margin: 0 40px;
}

.s2_list {
  flex-flow: row;
  justify-content: space-between;
  padding-bottom: 89px;
  margin: 0 40px;
  
}

.s2_list-item {
  width: 170px;
  height: 170px;
  margin: 0;
  margin-right: 20px;
}
.s2_list-item:last-child {
  margin-right: 0;
}
.s2_list-item::before {
  content: "";
  position: absolute;
  width: 85px;
  height: 85px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(247, 223, 8);
  border-radius: 50%;
  top: -41px;
  left: 38px;
}

.s2_list-item:nth-child(1)::before {
  background-image: url(../img/s2_icon1.png);
}

.s2_list-item:nth-child(2)::before {
  background-image: url(../img/s2_icon4.png);
}

.s2_list-item:nth-child(3)::before {
  background-image: url(../img/s2_icon3.png);
}

.s2_list-item:nth-child(4)::before {
  background-image: url(../img/s2_icon2.png);
}

.s2_list-item p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: "OpenSans";
  margin-bottom: 5px;
}
.s2_list-item:hover{
  background-color: rgb(247, 223, 8);
  color:orange;
  border: 10px solid orange;
  transform: scale(1.5);
}
/* стили секции 3 */
  
.s3 {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: white;
  background: #535353 url(../images/s3_back.png);
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;
}

.ant-carousel {
  width: auto;
  position: relative;
}

.ant-carousel-hider {
  overflow: hidden;
}

.ant-carousel-list {
  display: flex;
  justify-content: flex-start;
  width: auto;
  padding-bottom: 84px;
}

.ant-carousel-element {
  display: block;
  text-align: center;
  margin: 0 20px;
  margin-top: 72px;
  /* flex: 0 0 auto; */
}

.ant-carousel-element img {
  width: 280px;
  height: 230px;
  position: sticky;
  /* border: 15px solid white; */
}

.ant-carousel-element p {
  color: white;
  font-size: 16px;
  font-family: "OpenSans";
  font-weight: bold;
  position: relative;
  margin-top: 18px;
}

.ant-carousel-element p::before {
  content: "";
  position: absolute;
  width: 40px;
  border: 1px solid rgb(247, 223, 8);
  top: 8px;
  left: 1px;
}

.ant-carousel-arrow-left,
.ant-carousel-arrow-right {
  width: 25px;
  height: 40px;
  position: absolute;
  cursor: crosshair;
}

/* .ant-carousel-arrow-left:hover,
.ant-carousel-arrow-right:hover {
  opacity: 1;
} */

/* левая стрелка слайдера */
div.ant-carousel-arrow-left {
  left: 5px;
  top: 44%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
}

/* правая стрелка слайдера */
div.ant-carousel-arrow-right {
  right: 5px;
  top: 44%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
}
}
